html, body {
    height: 100%;
}

body {
    overflow: hidden;
    background: linear-gradient(to bottom right, rgba(168, 231, 231, 0.33), #e7e5cf) !important;

}

.btn-custom-orange {
    background-color: #FF5733;
    border-color: #FF5733;
    color: #fff;
}

.btn-custom-orange:hover {
    background-color: rgba(162, 244, 8, 0.93);
    border-color: rgb(246, 233, 3);
}

#explosion-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    pointer-events: none;
}

/* Here is the new CSS for the blinking effect */
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

.blinking-button {
    animation: blink 0.3s infinite;
}